// Define variables for your color scheme

// For example:
// $red: #FD1015;
$red: #eb6a6a;
// $blue: #167FFB;
$blue: #171219;
$yellow: #FFC65A;
// $orange: #E67E22;
$orange: #ECD0B4;

/* $green: #1EDD88; */
$green: #96B85A;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-green: #4C6C6F;

$white: #FFFFFF;
$black: #3F4C29;
$turquoise: #4C6C6F;


