.logo-devise {
    padding: 20px 10px;
    border-radius: 5px;
    margin: 35px auto 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    h3 {
        font-family: 'MuseoModerno', cursive !important;
        font-size: 3.5rem;
        font-weight: 200;
        color: var(--brown);
        margin: 0;
    }
    #logo-i svg{
        position: absolute;
        font-size: 1.8rem;
        color: var(--brown);
        top: 45px;
        right: -3px;
    }
    p {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: var(--light-brown);
    }
}

.form-devise {
    background: rgba(255, 244, 232, 0.8);
    border-radius: 10px;
    padding: 30px;
    height: 100%;
    margin-bottom: 50px;
    position: relative;
    
    h1 {
        color: $turquoise;
        font-size: 1.75rem;
        margin-bottom: 30px;
        border-left: 5px solid var(--brown); 
        padding-left: 10px;
        line-height: 0.9;
    }
    label {
        color: $turquoise;
    }
    .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
        color: $turquoise;

    }
}
// .form-inputs {
//     display: flex;
//     flex-direction: column;
// }

.form-input {
    display: flex;
    border-bottom: 1px solid var(--brown);
    align-items: center;
    margin-bottom: 30px;

    // border: 1px solid red;

    .form-group {
        margin: 0;
    }

    input {
        background: transparent;
        border: none;
        padding: 0;
    }
    
    input:focus {
        background: transparent;
        outline: none !important;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.mb-zero {
    margin-bottom: 0;
}
.mb-some {
    margin-bottom: 50px;
}
.content-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 0.8rem;
}

.reset-link {
    color: var(--grey);
}

.form-check {
    margin-top: 15px;
}
.align-right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -22.5px;
    right: 30px;
}

.btn-arrow {
    background: rgba(76, 108, 111, 0.5);
    color: var(--brown);
    border: 1px solid var(--brown);
    height: 45px;
    width: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px $turquoise;
    transition: all 0.4s;
}
.btn-arrow:hover {
    background: rgba(76, 108, 111, 0.8);
    color: var(--brown);
}

*:focus {
    outline: none;
}

.btn-outline-brown {
    color: var(--brown);
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid var(--brown);
    transition: all 0.4s;
    background: rgba(76, 108, 111, 0.3);
}
.btn-outline-brown:hover {
    color: var(--brown);
    background: rgba(76, 108, 111, 0.6);
}