// Specific CSS for your home-page


// CSS for Sign-in
.bg-devise {
  width: 100%;
  background-color: $turquoise;
  height: 100vh;
  color: white;
  padding-top: 50px;
}

.display-devise {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 300px;
  margin: 0 auto;

  small {
    color: lightgray !important;
  }


  #logo {
    color: $orange;
  }

  h1 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0;
  }

  #app-genre {
    font-weight: 300px;
    font-size: 16px;
  }

  #tagline {
    font-size: 20px;
    margin: 24px 0;
  }

  p {
    margin-bottom: 0px;
  }

}

.home-icon {
  width: 100px;
  height: 100px;
  // margin-top: 15px;
}

.home-icon-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
}

.day-o-home-page {
  font-weight: 900;
  font-size: 80px;
  color: $pink;
  font-family: Nunito;
}

.logo-homepage {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    margin: 0 8px 0 0;
  }
}

#line-homepage {
  position: absolute;
  bottom: 24px;
  left: calc( ( 100% - 111px) / 2);
}

.user-info-card-homepage {
  position: relative;
}
