// Specific CSS for your home-page


// CSS for Sign-in
.bg-devise {
  width: 100%;
  background-color: $turquoise;
  height: 100vh;
  color: white;
  padding-top: 50px;
}

.display-devise {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 300px;
  margin: 0 auto;

  small {
    color: lightgray !important;
  }


  #logo {
    color: $orange;
  }

  h1 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0;
  }

  #app-genre {
    font-weight: 300px;
    font-size: 16px;
  }

  #tagline {
    font-size: 20px;
    margin: 24px 0;
  }

  p {
    margin-bottom: 0px;
  }

}

.home-icon {
  width: 80px;
  height: 80px;
  // margin-top: 15px;
}

.home-icon-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  position: relative;
  padding-top: 15px;
}

.day-o-home-page {
  font-weight: 900;
  font-size: 80px;
  color: #4C6C6F;
  font-family: Nunito;
}

.logo-homepage {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    margin: 0 8px 0 0;
  }
}

#line-homepage {
  position: absolute;
  bottom: -10px;
  left: calc( ( 100% - 111px) / 2);
}

.user-info-card-homepage {
  position: relative;
}

.tagline-homepage {
  color: #4C6C6F;
  font-size: 17px;
  min-height: 30px;
}

.typed-cursor {
  display: none;
}

.home-icon-small {
  width: 50px;
  height: 50px;
}

.mainbackground{
  height: 100%;
  top: 133px;
  right: 0px;
  position: absolute;
  width: 400px;
  background-repeat: no-repeat;
}
.mainbackgroundmap {
  height: 421px;
  width: 100vw;
  top: 159px;
  z-index: -1;
  background-position: center;
  position: absolute;
}

.stats-card-container{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  // justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}


.stat-card {
  box-shadow: 0px 4px 15px rgba(200, 200, 200, 0.7);
  border-radius: 20px;
  width: 137px;
  height: 137px;
  text-align: center;
  margin-left: 15px;
  font-family: Nunito;
  padding-top: 30px;
  margin: 12px;
  background-color: #EEF4E4;
  opacity: 0.8;
}

.stat-card-big {
  box-shadow: 0px 4px 15px rgba(200, 200, 200, 0.7);
  border-radius: 20px;
  width: 290px;
  height: 200px;
  text-align: center;
  margin-left: 15px;
  font-family: Nunito;
  padding-top: 30px;
  margin: 12px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 34px;
  padding-left: 10px;
  background-color: #EEF4E4;
  opacity: 0.8;

   p {
    margin-bottom: 0rem;
  }
}

.numbercarbon {
  font-size: 150px;
  margin-bottom: 0px;
  line-height: 0.8;
  color: white;
  padding-left: 7px;
  text-shadow: 2px 2px 4px #000000;
}

.text-carbon {
  margin-left: 29px;
  color:black;
  padding-bottom: 9px;
  color:#324749;

  i {
    font-size: 27px;
    color:#324749;
  }
}

.stat-card {


  i {
    font-size: 27px;
    color:#324749;
  }

  p {
    margin-bottom: 0rem;
    color: #324749;
  }
}

.numbers {
  font-size: 35px;
}
