
.modal-challenge {
  position: relative;
  border-radius: 10px;

  #close {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
  }
}

.modal-buddy {
  position: relative;
  border-radius: 10px;
  border: 5px solid #C8D7D9;
}

.challenge-buddy {
  cursor: pointer;
  background-color: #FFFFFF !important;
  color: $turquoise !important;
  border: 1px solid $turquoise;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 16px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px !important;
}

.actions-card {
  margin-bottom: 40px;
}

.challenge-with-actions {
  h2 {
    text-align: center;
    color: #4C6C6F;
    margin-bottom: 0;
    margin-top: 15px;
  }
}

.line {
  height: 3px;
  width: 111px;
  margin: 5px auto;
  background-color: #ECD0B4;
}

.action-card {
  height: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  border-radius: 25px;
  margin-bottom: 14px;
  padding: 30px;
  display: flex;
  align-items: center;

  p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin: 0;
  }

}
// width: 100px;
//     height: 100px;
//     border-radius: 50%;
.links {
  display: flex;
  flex-direction: column;
  .profile-avatar {
    align-self: center;
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.btn-start {
    background-color: #4C6C6F;
    color: #FFFFFF;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-book {
  background-color: #ECD0B4;
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-buddy {
  background: #FFFFFF;
  color: #4C6C6F;
  border: 1px solid #4C6C6F;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
}



.new-buddy-challenge-form {
  display: flex;
}

.buddies-avatar-container {
  height: 120px;
  text-align: center;

  img:first-child  {
    position: relative;
    left: 15px;
    z-index: 2;
  }

  img:last-child {
    position: relative;
    right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}


.buddies-cards {
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }

 .buddy-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  border-radius: 25px;
  margin: 14px;

  display: flex;
  align-items: center;
  p {
    margin: 0 0 0 10px;
    font-family: Nunito;
    font-style: normal;
    font-size: 18px;
    color: #3F4C29;
    font-weight: 450;
  }
 }

 .fa-times-circle:before {
  position: relative;
  bottom: 24px;
 }
