<div class="user-info">
  <h1><%= @user.username.capitalize %></h1>
  <h2><%= @user.location %></h2>
</div><!-- add avatar -->

<!-- Badge Collection -->

<!-- Progress -->
<p>Today's Impact: <%= @impact_today %></p>
<p>Weekly Impact: <%= @impact_week_hash %></p>
