<!-- controller_name == 'pages'  -->

<% if (
  (controller_name == "users" && action_name == "show") ||
  (controller_name == "sessions") ||
  (controller_name == "registrations")

) %>

<!-- render nothing -->

<% else %>

  <div class="nav-header">
    <%= link_to :back do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1><%= yield :title %></h1>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Settings</a>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  </div>
<% end %>
