<h1>Dashboard</h1>

<h2>My Challenges</h2>

<ul>
  <% current_user.challenge_subscriptions.each do |sub| %>
    <li><%= link_to sub.challenge.name, challenge_path(sub.challenge) %>

      <ul>
        <% sub.challenge.actions.each do |action| %>
          <% if !action.setting_for(current_user).habit %>
            <li><%= action.title %>
              <span>
                <%= link_to 'Done', action_action_completions_path(action), method: :post  %>
                <%= link_to 'Add to Habits', action_setting_path(action.setting_for(current_user)), method: :patch  %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

