<div class="container-page" id="home">
  <div class="logo">
    <h3>day-o</h3>
    <div class="logo-i">
      <span class="iconify" id='logo' data-icon="vaadin:globe" data-inline="false"></span>
    </div>
  </div>

  <div class="carousel">
    <ul class="carousel__slides">
      <li class="carousel__slide">
        <%= image_tag 'together.png' %>
        <div class="carousel__text">
          <h6>Climate Habit Builder</h6>
          <p>A Climate Battle We Can Win. Together.</p>
        </div>
      </li>
      <li class="carousel__slide">
        <%= image_tag 'track.png' %>
        <div class="carousel__text">
          <h6>Track Daily Impact</h6>
          <p>How's your impact trending? Let's find out!</p>
        </div>
      </li>
      <li class="carousel__slide">
        <%= image_tag 'habit.png' %>
        <div class="carousel__text">
          <h6>Introduce New Habits</h6>
          <p>Check out day-o's fun multi-day challenges!</p>
        </div>
      </li>
      <li class="carousel__slide">
        <%= image_tag 'buddy.png' %>
        <div class="carousel__text">
          <h6>Buddy System</h6>
          <p>While you are at it... Grab a buddy and support each other!</p>
        </div>
      </li>
    </ul>

    <div class="carousel__nav">
      <button class="carousel__nav_item active"></button>
      <button class="carousel__nav_item"></button>
      <button class="carousel__nav_item"></button>
      <button class="carousel__nav_item"></button>
    </div>
  </div>

  <div class="btn-home">
    <button href="/users/sign_in" class="btn-arrow">➜</button>
  </div>

</div>
