<div class="user-info-card-homepage" id="user-info-card">
  <div class="home-icon-banner">
    <div class='logo-homepage'>
      <p class="day-o-home-page">day</p>
      <%= image_tag("favicon.png", class:"home-icon")%>
    </div>
    <div class="line" id="line-homepage">
    </div>
  </div>
</div>
