  <div class="home-icon-banner">
    <div class='logo-homepage'>
      <p class="day-o-home-page">day</p>
      <%= image_tag("favicon.png", class:"home-icon")%>
    </div>
    <span class="tagline-homepage" id="typed-tagline"></span>
    <div class="line" id="line-homepage">
    </div>
  </div>


<%= javascript_pack_tag "homepage" %>

