<div class="container-page" id="home">
  <div class="logo">
    <h3>day-o</h3>
    <p>Climate Habit Builder</p>
    <div class="logo-i">
      <span class="iconify" id='logo' data-icon="vaadin:globe" data-inline="false"></span>
    </div>
  </div>

  <div class="carousel">
    <ul class="carousel__slides">
      <li class="carousel__slide">
        <%= image_tag 'together.png' %>
        <p>A Climate Battle We Can Win. Together.</p>
      </li>
      <li class="carousel__slide">
        <%= image_tag 'challenge.png' %>
        <p>Select Challenge Track to introduce new habits to your life</p>
      </li>
      <li class="carousel__slide">
        <%= image_tag 'buddy.png' %>
        <p>While you are at it... Grab a buddy!</p>
      </li>
    </ul>

    <div class="carousel__nav">
      <button class="carousel__nav_item active"></button>
      <button class="carousel__nav_item"></button>
      <button class="carousel__nav_item"></button>
    </div>
  </div>

</div>
