// Category index

.cards-category {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  // justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.card-categories {
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  border-radius: 10px;
  width: 137px;
  height: 137px;
  text-align: center;
  color: white;
  margin-left: 15px;
  font-family: Nunito;
  padding-top: 30px;
  margin: 10px;
}

#card-category-plastic {
  background-color: #09A66D;
}

#card-category-diet {
  background-color: #B29DC8;
}

#card-category-travel {
  background-color: #94514C;
}

#card-category-commute {
  background-color: #FB7429;
}

#card-category-energy {
  background-color: #ECD0B4;
}

#card-category-waste {
  background-color: #FFB672;
}

.cards-genre {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.card-genre {
  // width: auto;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  margin: 20px 10px 20px 10px;
  padding: 40px;
  color: $dark-green;
  text-align: center;
  border-radius: 10px;

  h5 {
    font-weight: bold;
  }
}

.card-challenge {
  margin: 15px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  .card-property {
    display: flex;
    justify-content: space-between;
  }

  p {
    color: gray;
    margin-bottom: 0;
    font-size: 12px;
  }

  h5 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    // color: $dark-green;
  }
}

.challenge-category-icons {
  display: flex;
  justify-content: flex-end;
}

.small-icons {
  width: 31px;
  height: 31px;
  border-radius: 5px;
  padding: 3px;
  margin: 0 5px;
  background-color: #DDE8CB;
}


// Archive
// .card-challenge {
//   position: relative;
//   box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
//   border-radius: 10px;
//   background-color: white;
//   width: 340px;
//   height: 137px;
//   margin: 15px auto;
//   color: $dark-green;
//   text-align: center;
//   padding-top: 40px;

//   .info {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//   }

//   h5 {
//     color: #5e7b7d;
//     font-weight: bold;
//   }
// }

// .info {
//   width: 25px;
//   height: 25px;
// }

// .no-days {
//   position: absolute;
//   top: 10px;
//   right: 10px;
// }

// .difficulty {
//   position: absolute;
//   top: 10px;
//   left: 10px;
// }

// .small-icons {
//   width: 31px;
//   height: 31px;
//   border-radius: 5px;
//   padding: 3px;
//   background-color: #DDE8CB;
// }

// h4 {
//   font-family: Nunito;
//   font-weight: bold;
//   color: #5e7b7d;
// }

// .icons-place {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }

// old

// dashboard page
.card-sub {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);

  h2 {
    font-weight: bold;
    font-size: 22px;
    color: $black;
  }

  h3 {
    font-size: 16px;
    color: $black;
  }
}

.section-action {
  height: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.action-active {
  height: 140px;
}
.chevron-active {
  transform : rotate(90deg);
}

.section-top-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-action {
  margin-bottom: 0;
  flex-grow: 1;
}

.buttons-action {
  margin-left: 5px;
  display: flex;
  justify-content: flex-end;

  p {
    width: 50px;
    text-align: right;
    color: gray;
    margin-bottom: 0;
    letter-spacing: -0.8px;
    font-size: 13px;
  }
}

.action-dropdown {
  // display: none;
  margin-top: 5px;

  p {
    font-size: 12px;
    margin: 10px 0;
    color: gray;
  }


}

#icon-active {
  font-size: 30px;
  color: $green;
}

// habit
.card-habit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
}

.info-habit {
  flex-grow: 1;

  h5 {
    font-size: 16px;
    color: $black;
    margin-bottom: 0px;
  }
  p {
    font-size: 10px;
    color: gray;
    margin-bottom: 0px;
  }
}


#three-dots {
  margin-left: 10px;
  color: lightgray;
}

#three-dots:hover {
  color: $black;
}

#addon-checkable {
  font-size: 35px;
  color: $turquoise;
  margin-left: 10px;
}

#addon-uncheckable {
  font-size: 35px;
  color: lightgray;
  margin-left: 10px;
}


.options-babit {
  display: flex;
  align-items: center;
}
