.card-categories {
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  border-radius: 10px;
  width: 137px;
  height: 137px;
  text-align: center;
  color: white;
  margin-left: 15px;
  font-family: Nunito;
  padding-top: 30px;
}

.card-container-categories {
  margin-bottom: 100px;
  padding: 2px 0px;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
}

.card-challenge {
  position: relative;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 360px;
  height: 137px;
  margin-bottom: 15px;
  color: $dark-green;
  font-family: Nunito;
  text-align: center;
  padding-top: 40px;

  .info {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  h5 {
    color: #5e7b7d;
    font-weight: bold;
  }
}

.info {
  width: 25px;
  height: 25px;
}

.no-days {
  position: absolute;
  top: 10px;
  right: 10px;
}

.difficulty {
  position: absolute;
  top: 10px;
  left: 10px;
}

.small-icons {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 2px;
  background-color: #5E7B7D;
}

h2 {
  font-family: Nunito;
  font-weight: bold;
  color: #5e7b7d;
}


#card-category-plastic {
  background-color: #f4934e;
}

#card-category-diet {
  background-color: #d69262;
}

#card-category-travel {
  background-color: #C9631A;
}

#card-category-commute {
  background-color: #FB7429;
}

#card-category-energy {
  background-color: #c6804d;
}

#card-category-waste {
  background-color: #FFB672;
}

.card-sub {
  background-color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
  position: relative;

  h2 {
    font-weight: bold;
    font-size: 22px;
    color: $black;
  }

  h3 {
    font-size: 16px;
    color: $black;
  }

}

.section-action {
  display: flex;
  justify-content: space-between;
}

.buttons-action {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  color: lightgray;
  font-size: 14px;

  i {
    font-size: 30px;
    color: lightgray;
  }

  i:hover {
    color: $green;
  }
}

#icon-habit-true {
  color: $green;
}

