.menu-container {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 26px;
}

.menu {
  display: flex;
  margin: 0 auto;
  width: 368px;
  height: 47px;
  background: $white;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.33);
  justify-content: center;
  align-items: center;
}

.menu-habit {
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  padding: 5px 0;
}

.iconify {
  width: 37px;
  height: 37px;
  color: $black;
  margin-left: 12px;
  margin-right: 12px;
}

.icons {
  padding-inline-start: 0px;
  margin-bottom: 0px;
}

.menu-habit-section {
  display: flex;
  padding: 0 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  a {
    font-size: 48px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}

.menu-habit-progress {
  flex-grow: 1;

  p {
    margin-bottom: 0px;
  }
}
