.badges {
  display: flex;
  width: 360px;
  height: 84px;
  margin: 0 auto;
  background: $white;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  flex-wrap: wrap;
}
.badge-header {
  width: 360px;
  justify-content: center;
  h5 {
    margin-bottom: 0px;
    font-weight: 400px;
    font-family: nunito;
    font-size: 18px;
    color: $darkest-green;
  }
}

.badge-list {

  ul {
    font-family: nunito;
    padding-left: 0px;
    margin-bottom: 0px;
  }
}

.profile-badge {
  width: 35px;
  height: 36px;
  fill: $black;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
  border-radius: 4px;
  background: rgba(153, 157, 166, 0.2)
}

