
<br>
<div class="search-container">
  <p class="section-title">Browse by Top Challenges</p>
  <div class="card-challenge">
    <img src="https://res.cloudinary.com/dhc2cbdw0/image/upload/v1583440769/icons/info_y68o5y.svg" class="info">
    <h5>Top 10 - 7 days challenges</h5>
    <p> 30 challenges</p>
  </div>

  <div class="card-challenge">
    <img src="https://res.cloudinary.com/dhc2cbdw0/image/upload/v1583440769/icons/info_y68o5y.svg" class="info">
    <h5>Top beginners challenge</h5>
    <p> 13 challenges</p>
  </div>

  <!-- display each category as a link to the challenges -->
  <p class="section-title">Browse by categories</p>
</div>
<div class="card-container-categories">
  <% @categories.each do |c|  %>
    <!-- in the path will be the categorie id instead -->
    <%= link_to challenges_path(category_id: c.id ) do %>
      <div id="card-category-<%= c.name.downcase %>" class="card-categories">
        <img src="<%= c.icon %>" class="category-icon"> <br>
        <%= c.name %>
      </div>
    <% end %>
  <% end %>
</div>
